
text = '<article class="type-system-slab">' +
       '<p>' + "Successfully added comment:  " +
       '<%= @note.body %>' +
       '</p>' +
       '<p>' + 'To see the changes click:' +
       '</p>' +
       '<p>' + '<a href="<%= report_path(@report) %>"> ' + 'REFRESH' + '</a>' +
       '</p>' +
     '</article>';

$('#bg-screen-for-modal').addClass('open')
$('#bg-screen-for-modal').find('section').empty().append(text)

