<div class="welcomewrapper">
	<h1>yourReport disclosures IFRS:</p>
	<%= render 'index_edit_forms' %>
</div>

<!-- :onchange => "$.post('#{model_singular_path(id)}', {'_method':'put', 'model_name[model_field]':this.value} );" -->
