
text = '<article class="type-system-rounded">' +
	   '<p>' + "Successfully updated disclosure, you will need to refresh the page to see the changes"
	   + '<a href="#" onClick="window.location.reload();">' + ' REFRESH ' + '</a>' +
	   '</p>' + '</article>'

$('#bg-screen-for-modal').find('section').empty().append(text)


