<a href="<%= report_path(@report) %>">

	  <p><span><%= truncate(@report.title, length: 40) %></span></p>

	  <p class="date">Last updated: 
	  	<%= time_ago_in_words(@report.updated_at) %> ago
	  </p>

	  <p class="author">Current: <%= @report.current_end.end_of_month.strftime('%d - %b') %> </p>

</a>