<!-- EMPTY MODAL[LEGACY CATCH] -->
<div class="modal">
    <input class="modal-state" id="modal-empty" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-close" for="modal-empty"></div>
        <article class="type-system-rounded">
          <div id="empty-modal-body-append">
          </div>
        </article>
      </div>
    </div>
</div>
<!-- EMPTY SHARED MODAL -->
<div class="modal">
    <input class="modal-state" id="modal-shared-empty" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-close" for="modal-shared-empty"></div>
         <article class="type-system-rounded">
          <div id="empty-shared-modal-body-append">
          </div>
         </article>
      </div>
    </div>
</div>
<!-- VAT DISPLAY MODAL -->
<div class="modal">
    <input class="modal-state" id="empty-modal-shared-vat" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-close" for="modal-shared-vat-empty"></div>
         <article class="type-system-rounded">
          <div id="empty-modal-body-shared-vat-append">
          </div>
         </article>
      </div>
    </div>
</div>