
<article class="type-system-slab">
      <div class="container-auth-buttons">
          <button class="g-signin" id='googleLogin'
                data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/plus.circles.read https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/plus.me"
                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                  data-clientId="464680693197-el77matr168lkhvasq6kebeep4gc9o1v.apps.googleusercontent.com"
                  data-accesstype="offline"
                  data-callback="onSignInCallback"
                  data-theme="dark"
                  data-cookiepolicy="single_host_origin">
          </button>
          <h1 class="flex-title" style="margin-top:0.5em;">Click to Login</h1>
          <p>We do not share permissions or personal information.</p>
      </div>
</article>