
<article class="type-system-slab">
  <div class="container-auth-buttons">
    <%=link_to image_tag("/assets/microsoft_login.png",width: "114", height: "36"), @login_url%>
    <h1 class="flex-title">Click to Login</h1>
    <p>We do not share permissions or personal information.</p>
    <br>
  </div>
</article>