
<article class="type-system-slab">
  <div class="container-auth-buttons">
    <%= link_to image_tag("microsoft.png", width: "150", height: "50"), @login_url %>
    <h1 class="flex-title">Click to Login</h1>
    <p>We do not share permissions or personal information.</p>
    <br>
  </div>
</article>