<div class="hero landing-welcome">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1 style="color:#d61579;">ProfitBees</h1>
      <p style="color:#d61579;">Simple microBooks and lovely BoardPacks.</p>  
    </div>
  </div>
</div>

<section class="user-welcome-landing">
    <article id="action-auth-sign-in" class="type-system-slab">
      <h3>Choose your sign-in engine;</h1>
      <div class="flex-boxes">
          <a id="" href="javascript:void(0)" class="flex-box" onclick="signIn.authGoogle();">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
            <h1 class="flex-title">Google Apps</h1>
            <p>Authenticate and Sign-in using your Google cloud profile</p>
          </a>
          <a href="javascript:void(0)" class="flex-box" onclick="signIn.authWindows();">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
            <h1 class="flex-title">Office 365</h1>
            <p>Authenticate and Sign-in using your Office 365 cloud profile.</p>
          </a>
      </div>
    </article>
</section>

<section id="google-signin-button" class="user-welcome-landing" style="display:none;">
          <%= render 'googleButton' %>
</section>

<section id="windows-signin-button" class="user-welcome-landing" style="display:none;">
          <%= render 'office365Button' %>
</section>


<footer class="footer-welcome-landing" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>

<div id="state" style="display:none;"><%= @state %></div>



