.pie-charts-cash-show {
	margin-top: 3em;
	margin-bottom: 3em;

	@include outer-container;
	div {
		@include span-columns(6);
	}

}
#ledger-payments {
	width: 100%;
}

#ledger-lodgements {
	width: 100%;
}
.transaction-summary-cash-show {

	margin-top: 3em;
	margin-bottom: 3em;

	@include outer-container;
	div {
		@include span-columns(6);
	}
}

.restrict-height {
	div {
		max-height: 30em;
		overflow: scroll;
	}
}