
<article class="type-system-slab">
    <h2>Financial Control</h2>
    
    <div class='comments_data'></div>
    <script id="comment-template" type="text/x-handlebars-template">
      {{#each this}}
        <div id={{id}} class="comment">
          <div class="comment-image">
            <img src="<%= asset_path('pb-logo.png') %>">
          </div>
          <div class="comment-content">
            <h1><span style="color:#f3655e;">{{subject}} </span> || {{commenter}} </h1>
            <p> {{body}} </p>
          </div>
        </div>
      {{/each}}
    </script>
    <br>
    <h4><%= link_to "Comments Manager", manager_report_comments_path(@report) %></h4>
</article>

<script>
  
</script>