
<article class="type-system-slab">

	<h2>Report Notes</h2>
	<br>
  <div class='notes_data'></div>
  <script id="note-template" type="text/x-handlebars-template">
    {{#each this}}
      <div id={{id}} class="comment">
        <div class="comment-image">
          <img src="<%= asset_path('pb-logo.png') %>">
        </div>
        <div class="comment-content">
          <h1><span class="lovely-pink">{{subject}} </span> || {{commenter}} </h1>
          <p> {{body}} </p>
          <p><a href={{filelink}} target="_blank">Link to backup</a></p>
        </div>
      </div>
    {{/each}}
  </script>
  <br>
  <h4><%= link_to "Notes Manager", manager_report_notes_path(@report) %></h4>
</article>

<script>
  
</script>