 <% if @value.errors.any? %>
  var text = '<article class="type-system-slab">' + '<p>' + 'Something went wrong, there was an error and the value could not be added.  Please try again' + '</p>' + '</article>'
  $('p.error').html(text)
 <% else %>
  var text = '<article class="type-system-slab">' + '<p>' + 'Value saved successfully.  Please reload the page if you require to see the value included in your view.' + '</p>' + '</article>'
  $('#bg-screen-for-modal').find('section').empty().append(text)
 <% end %>
