$('#bg-screen-for-modal').addClass('open')
link = "<%= j link_to 'Download CSV', download_reports_url %>"
html = '<article class="type-system-rounded">' + '<p>' + 'Successful Export: ' + link + '</p>' + '</article>'
$('#bg-screen-for-modal').find('section').empty().append(html) 
