<div id="screen-for-modal">
    
</div>

<div class="hero reports-hero-index">
  <article class="type-system-slab">
    <div class="hero-inner">
      <a href="/" class="hero-logo"><img src="https://www.erasmusgathering.com/budapest/images/Icon-pink-home.png"></a>
      <div class="hero-copy">
        <h1 style="color:#d61579;">BoardPacks</h1>
        <p style="color:#d61579;">ProfitBees</p>  
      </div>
    </div>
  </article>
</div>

<article class="type-system-slab">
    <section class="index-display-container align-children-center">
        <div class="dropdown">
          <div class="dropdown-container">
            <p class="dropdown-description">New</p>
            <p class="dropdown-button">BoardPack</p>
            <ul class="dropdown-menu dropdown-select">
              <li>UK-GAAP</li>
              <li>IFRS</li>
              <li>Management</li>
            </ul>
          </div>
        </div>
    </section>
</article>

<section class="index-display-container">
  <article class="type-system-slab">
    <div class="cards">
      <div class="card">
        <div class="card-image">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
        </div>
        <div class="card-header">
          First Card
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
        </div>
        <div class="card-header">
          Another Card
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
        </div>
        <div class="card-header">
          The Last Card
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </article>
</section>

<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Click for Modal</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Modal Title</h1>
      <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
      <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
    </div>
  </div>
</div>


<script>

  $(document).ready(function() {
    $(".dropdown-button").click(function() {
      var $button, $menu;
      $button = $(this);
      $menu = $button.siblings(".dropdown-menu");
      $menu.toggleClass("show-menu");
      $menu.children("li").click(function() {
        $menu.removeClass("show-menu");
        $button.html($(this).html());
      });
    });

    $("#modal-1").on("change", function() {
      if ($(this).is(":checked")) {
        $("body").addClass("modal-open");
      } else {
        $("body").removeClass("modal-open");
      }
    });

    $(".modal-fade-screen, .modal-close").on("click", function() {
      $(".modal-state:checked").prop("checked", false).change();
    });

    $(".modal-inner").on("click", function(e) {
      e.stopPropagation();
    });


  });

</script>

<%= link_to 'IFRS', new_report_path(type: ''), remote: true, class: 'button'%>
<%= link_to 'UK-GAAP', new_report_path(type: ''), remote: true, class: 'button'%>
<%= link_to 'US-GAAP', new_report_path(type: ''), remote: true, class: 'button'%>

