 <% if @error.present? %>
  $('p.error').html('<%= j @error %>');
 <% else %>
  var text = '<article class="type-system-rounded">' + '<p>' + 'Journal saved successfully.  Please reload the page if you require to see the value included in your view.' + '</p>' + '</article>'
  $('#empty-report-modal-body').html(text)
 <% end %>
