<%= javascript_include_tag 'boardPacks' %>

<article class="type-system-slab">

    <header class="show-nav" role="banner">
       
       <div>  

          <p>Back</p>

       </div> 

       <div>  

          <a href="/welcome/auth_landing"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>

       </div>  

       <div>  

          <p>Financials</p>

       </div> 

    </header>

</article>

<img id="add-info-bp" src="<%= asset_path('new-work-icon.png') %>">

<section class="layout-container">
  <article class="type-system-slab">

        <div class="scroll-on-page">
          <aside id="scroll-on-page-top">
            <a class="scroll-on-page-link" href="#scroll-link-1">First Scroll Link</a>
            <a class="scroll-on-page-link" href="#scroll-link-2">Second Link</a>
            <a class="scroll-on-page-link" href="#scroll-link-3">Last Link</a>
          </aside>

          <article>
            <section>
              <h4 id="scroll-link-1">First Target</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
            </section>
            <section>
              <h4 id="scroll-link-2">Second Target</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
            </section>
            <section>
              <h4 id="scroll-link-3">Last Target</h4>
              <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
              <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
            </section>
          </article>
        </div>

    </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">
      <div class="graph-container">


      </div>
      <ul class="accordion-tabs-minimal">
        <li class="tab-header-and-content">
          <a href="#" class="tab-link is-active">Tab Item</a>
          <div class="tab-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Another Tab</a>
          <div class="tab-content">
            <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Third</a>
          <div class="tab-content">
            <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Last Item</a>
          <div class="tab-content">
            <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
          </div>
        </li>
      </ul>

   </article>
</section>



<section class="layout-container">
  <article class="type-system-slab">

        <div class="grid-items">
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
            <h1>Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Grid Item With an Image</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item grid-item-big">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
            <h1>Another Wide Item</h1>
            <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Last Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Last Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
            <h1>A Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
            <h1>Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
        </div>

    </article>
</section>


<%#= javascript_include_tag 'reports' %>
<%#= javascript_include_tag 'reportsShow' %>

<%= hidden_field_tag :report_id, @report.id, id: 'report-id' %>
