<%= javascript_include_tag 'boardPacks' %>

<article class="type-system-slab">

    <header class="show-nav" role="banner">
       
       <div>  

          <p>Back</p>

       </div> 

       <div>  

          <a href="/welcome/auth_landing"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>

       </div>  

       <div>  

          <p>Financials</p>

       </div> 

    </header>

</article>

<img id="add-info-bp" src="<%= asset_path('new-work-icon.png') %>">

<section class="layout-container">
  <article class="type-system-slab">

        <div class="scroll-on-page">
          <aside id="scroll-on-page-top">
            <a class="scroll-on-page-link" href="#scroll-link-1">First Scroll Link</a>
            <a class="scroll-on-page-link" href="#scroll-link-2">Second Link</a>
            <a class="scroll-on-page-link" href="#scroll-link-3">Last Link</a>
          </aside>

          <article>
            <section>
              <h4 id="scroll-link-1">First Target</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
            </section>
            <section>
              <h4 id="scroll-link-2">Second Target</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
            </section>
            <section>
              <h4 id="scroll-link-3">Last Target</h4>
              <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
              <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
            </section>
          </article>
        </div>

    </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">

        <div class="grid-items">
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
            <h1>Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Grid Item With an Image</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item grid-item-big">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
            <h1>Another Wide Item</h1>
            <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Last Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Last Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
            <h1>A Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
            <h1>Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
        </div>

    </article>
</section>


<%#= javascript_include_tag 'reports' %>
<%#= javascript_include_tag 'reportsShow' %>

<%= hidden_field_tag :report_id, @report.id, id: 'report-id' %>
