
text = '<article class="type-system-slab">' + 
		   '<p>' + "Successfully updated report.  If required, you will need to refresh the page to see the changes" 
		   + '<a href="<%= report_path(@report) %>">' + ' REFRESH ' + '</a>' + 
		   '</p>' + 
	    '</article>'

$('#bg-screen-for-modal').addClass('open')
$('#bg-screen-for-modal').find('section').empty().append(text)

