<article class="type-system-slab modal-form">
      <h1>
        Director Salaries
      </h1>
      <p class="lovely-pink">Add the annual salary details of each director and we will calculate the rest</p>

          <table class="table-minimal">
              <tbody>
                  <tr>
                    <td class="lovely-pink">Director 1</td>
                    <td>
                      <input type="text" name="" placeholder="e.g. 12,000">
                    </td>
                  </tr>
                   <!-- Add option to add row --> 
                  <tr>
                    <td><a href="javascript:void(0)">Add director</a></td>
                    <td></td>
                  </tr>

                  <tr>
                    <td class="button-style"><%= submit_tag 'Save Details' %></td>
                    <td></td>
                  </tr>
                </tbody>
          </table>

</article>








