<article class="type-system-slab modal-form">
      <h1>
        Sales revenue owed
      </h1>
      <p class="lovely-pink">Add the amount of money owed to you by customers at the start ( even if included in revenue before), and end of the period.</p>
      
      <%= form_tag update_drivers_cash_flow_ledger_path(@ledger), method: :post, remote: true do |f| %>
            <table class="table-minimal">
                  <tbody>
                      <tr>
                        <td class="lovely-pink">Sales money owed at start of period</td>
                        <td>
                          <input type="text" name="drivers[customers[opening_owed]]" value="<%= @drivers['customers']['opening_owed']%>" placeholder="e.g. 120000 ">
                        </td>
                      </tr>
                      <tr>
                        <td class="lovely-pink">Sales money owed at end of period</td>
                        <td>
                          <input type="text" name="drivers[customers[closing_owed]]" value="<%= @drivers['customers']['closing_owed']%>" placeholder="e.g. 800000 ">
                        </td>
                      </tr>
                      <tr>
                        <td class="button-style"><%= submit_tag 'Save Details' %></td>
                        <td></td>
                      </tr>
                  </tbody>
            </table>
      <% end %>
</article>








