<article class="type-system-slab modal-form">

      <h1>Edit Cf Settings</h1>

      <%= form_tag update_cf_settings_cash_flow_ledger_path(@ledger), method: :post, remote: true do |f| %>

                <table class="table-minimal">
                  <tbody>
                      <%if params.include? "start_month"%>
                      <tr>
                        <td class="text-pink">Starting Month</td>
                        <td><%= select("format", "start_month", options_for_select(list_month_names, @ledger.cf_settings["format"]["start_month"])) %>
                        </td>
                      </tr>
                      <%end%>
                      <% if params.include? "cf_length"%>
                      <tr>
                        <td class="text-pink">Coming Soon</td>
                        <td class="text-pink">We haven't yet released this feature, 12 months projections are currently the only option.</td>
                      </tr>
                     <!--  <tr>
                        <td class="text-pink">Length</td>
                        <td><%#= select("format","cf_length", options_for_select(["Quarter", "Half-Year", "Full-Year"], @ledger.cf_settings["format"]["cf_length"])) %></td>
                      </tr> -->
                      <% end %>
                      <tr>
                        <td class="button-style"><%#= submit_tag "Update" %></td>
                      </tr>
                    </tbody>
                </table>
      <% end %> 

</article>