<article class="type-system-slab modal-form">
      <h1>
        Non-director Salaries
      </h1>
      <p class="lovely-pink">Add your total anticpated salary bill and the number of people it relates too, and we will calculate the rest.</p>
      <table class="table-minimal">
            <tbody>
                <tr>
                  <td class="lovely-pink">Salary</td>
                  <td>
                    <input type="text" name="" placeholder="e.g. 120,000">
                  </td>
                </tr>
                <tr>
                  <td class="lovely-pink">No of people</td>
                  <td><input type="text" name="" placeholder="e.g. 10"></td>
                </tr>
                <tr>
                  <td class="button-style"><%= submit_tag 'Save Details' %></td>
                  <td></td>
                </tr>
              </tbody>
        </table>
</article>








