 <tbody id="revenue-exc-vat">
   	                             
    <%= render 'input_table_body' %>
    <!-- SAVE BUTTON -->
    <tr>
        <td id="save-rev-exc-vat" class="button-style"><%= submit_tag 'Save Details' %></td>
        <% $no_of_columns.times do |row| %>
            <td></td>
        <% end %>
        <td></td>
    </tr>

</tbody>

