$('#bg-screen-for-modal').addClass('open')

link = '<a href="<%=  cash_flow_ledger_path(@ledger) %>"> ' + 'REFRESH' + '</a>'

$('#bg-screen-for-modal').find('section').empty().append("Successfully Saved"+ link)