$('#bg-screen-for-modal').addClass('open')
 
  <%unless current_user.uid.include? "Office365"%>
  	link = '<a href="'+'<%= @link%>'+'" target="_blank">' + 'VIEW' + '</a>' 
  	html = '<article class="type-system-slab">' + '<p>' + 'Successful Export: ' + link + '</p>' + '</article>'
  	
  <%else%>
	link = "<%= j link_to 'Download CSV', download_data_as_csv_file_reports_url %>" 
    html = '<article class="type-system-slab">' + '<p>' + 'Successful Export: ' + link + '</p>' + '</article>'
  	
  <%end%>
$('#bg-screen-for-modal').find('section').empty().append(html)
